@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|Cinzel+Decorative:700');

#nav {
    height: 6%;
}

.navbar-brand {
    font-size: 22px !important;
    font-family: 'Cinzel Decorative', cursive;
}

.nav-link {
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: 22px;
}

#id-map {
    height: 94%;
}

.home {
    margin: 0 1px 0 -1px;
}